body {
    font-family: Verdana, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #313131;
    color: #ffa726;
    margin: 0;
}

h1{
    text-align: center;
    margin-bottom: 20px; 
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
}

label {
    width: 100%;
    font-size: 16px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ffa726;
    border-radius: 5px;
    background-color: #d6d6d6;
    font-size: 16px;
    margin-bottom: 15px;
}

.container {
    display: flex;
    flex-wrap: wrap; /* Permite que las solicitudes se vayan a una nueva línea si no caben */
    justify-content: center; /* Centra horizontalmente */
    gap: 20px; /* Espaciado entre solicitudes */
}

.solicitud {
    background-color: #333; /* Fondo oscuro */
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

h2{
    text-align: center;
    margin-bottom: 20px;
}

button {
    font-family: Verdana, Tahoma, sans-serif;
    padding: 10px;
    background-color: #ffa726;
    color: #070707;
    border-radius: 5px;
    border: 1px solid #eb451b;
    cursor: pointer;
    width: 50%;
    margin: 10px auto;
    display: block; 
    text-align: center;
}

button:hover {
    background-color: #ecc46e;
}

.message-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

textarea {
    width: 300px;
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #eb451b;
    background-color: #ccc;
    resize: none;
    font-family: Verdana, Tahoma, sans-serif;
}