body {
    font-family: Verdana, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #313131;
    color: #ffa726;
    margin: 0;
}

.container {
    text-align: center;
    max-width: 600px;
    width: 100%;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.chat-messages {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-top: 10px;
    width: 100%;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

textarea {
    font-family: Verdana, Tahoma, sans-serif;
    width: 300px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #eb451b;
    background-color: #ccc;
    resize: none;
}

button {
    font-family: Verdana, Tahoma, sans-serif;
    padding: 10px;
    background-color: #ffa726;
    color: #070707;
    border-radius: 5px;
    border: 1px solid #eb451b;
    cursor: pointer;
}

button:hover {
    background-color: #ecc46e;
}